:root{
    --color-header:#e9eaed;
    --color-notice: #99dafd;
    --color-footer: #f2eeed;
    --color-textReceived: #d8f8bf;
}
/* Background */
.background-body{
    height: 100vh;
    background-image: linear-gradient(to bottom,
    #359589 0px,
    #359589 15vh,
    #dcdbd4 15vh,
    #d2dbde 100%);
}
.bg-header{
    background-color: var(--color-header);
}
.bg-notice{
    background-color: var(--color-notice);
}
.bg-chat{
    background-image: url('../image/mine.jpg');
    background-size: cover;
    background-size: 40%;
    background-repeat: repeat;
}
.bg-footer{
    background-color: var(--color-footer);
}
.bg-received{
    background-color: var(--color-textReceived);
    /* align-self: flex-end; */
}
.bg-userChat{
    background-color: rgba(51, 170, 51, .4);
}
/* utility */
.cursor-pointer{
    cursor: pointer;
}
.img-user{
    width: 80px;
    height: 80px;
}
.w-35{
    width: 35%;
}
/* Hover */
.list-group-item:hover{
    background-color: rgba(51, 170, 51, .4);
}
.fa-microphone:hover{
    color: red;
}
.fa-paper-plane:hover{
    color: green;
}

/* Media Query */
@media screen and (max-width: 768px){
    .w-35{
        width: 90%;
    }
}